{
  "presets": ["@babel/preset-stage-2", "@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties", "transform-object-rest-spread", "transform-class-properties"]
}
